[user]
	name = Kuba Kuźma
	email = kuba@kubakuzma.com
	signingkey = 3ACB6CA1A9DB95D9
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = matching
[core]
	excludesfile = ~/.gitignore
	editor = mcedit
