xterm*background:      black
xterm*eightBitInput:   false
xterm*faceName:        Inconsolata
xterm*faceSize:        12
xterm*foreground:      gray
xterm*metaSendsEscape: true
xterm*on4Clicks:       group
xterm*on5Clicks:       page
